.bottom{
	position: fixed !important;
	bottom: 0;
	width: 100%;
	height: 90rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20rpx;
	border-top: 1px solid #ededed;
	background-color: #FFFFFF;
}
.bottom .bottom-left{
	display: flex;
	align-items: center;
	flex: 1;
	margin-right: 20rpx;
}
.bottom-left image{
	width: 70rpx;
	height: 70rpx;
	margin-right: 20rpx;
}
.bottom-left .audio-info{
	width: 300rpx;
}
.audio-name{
	font-size: 15px;
	width: 300rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.audio-singer{
	font-size: 11px;
	color: #7d7d7d;
	width: 300rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bottom .bottom-right{
	font-size: 26px;
	display: flex;
	align-items: center;
}
.bottom-right .btn-player, .btn-info{
	width: 26px;
	margin-right: 20rpx;
}

.btn-info{
	margin-left: 30rpx;
}

	image {
		border-radius: 50%;
	}
	
	.rotation {
		-webkit-transform: rotate(360deg);
		animation: rotation 12s linear infinite;
		-moz-animation: rotation 12s linear infinite;
		-webkit-animation: rotation 12s linear infinite;
		-o-animation: rotation 12s linear infinite;
	}
	
	@-webkit-keyframes rotation {
		from {
			-webkit-transform: rotate(0deg);
		}
	
		to {
			-webkit-transform: rotate(360deg);
		}
	}